MAX_PHONE=Номер телефона аккаунта в формате +7XXXXXXXXXX
MAX_TOKEN=Токен аккаунта (инструкция получения в README.md)
TG_TOKEN=Токен бота Telegram
VK_TOKEN=Токен бота ВКонтакте
VK_USER_TOKEN=Токен пользователя ВКонтакте (необходим для загрузки видео)